{% extends "index.html"%}
{% load static %}
{% block cart%}
<div class="wrap cf">
    <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>
    <div class="heading cf">
      <h1>My Cart</h1>
      <a href="#" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
  <!--    <ul class="tableHead">
        <li class="prodHeader">Product</li>
        <li>Quantity</li>
        <li>Total</li>
         <li>Remove</li>
      </ul>-->
      <ul class="cartWrap">
        <li class="items odd">
          
        <div class="infoWrap"> 
            <div class="cartSection">
                <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                <p class="itemNumber">#QUE-007544-002</p>
                <h3>Item Name 1</h3>
        
                <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
        
                <p class="stockStatus"> In Stock</p>
            </div>  
      
          
            <div class="prodTotal cartSection">
                    <p>$15.00</p>
            </div>
            <div class="cartSection removeWrap">
                <a href="#" class="remove">x</a>
            </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}