{% extends 'index.html' %}
{% load static %}
{% block home %}
<div class="hero">
    <div class="imgHero">
    </div>
    <div class="background">                
    </div>
    <div class="details">
        <div class="SuperTitle">
            Welcome to <br>
            Online Garage <br>
            Sale, {{customer.user}}
        </div>
        <div class="slogan">
            I would like to :
        </div>
        <div class="button">
            <button class="heroBtn" ><a href="../shop/"  class="linkBuy">BUY</a></button>
            <button class="heroBtn">RENT</button>
            <button class="heroBtn">SELL</button>
        </div>
    </div>
</div>





<!-- Footer -->
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Online Garage Sale | Mikaia</p>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock%}